	<div class="well">
		<div class="row">
			this is a test col.
		</div>
	</div>
	<div class="new">
		<div class="row">
		<%=form_for @restaurant ,:url=>restaurants_path do |f|%>
			<%=params.inspect%>
			<% if @restaurant.errors.any? %>
			      <ul class="row">
			      <% @restaurant.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			<% end %>

			<div class="row">
				<div class="col-md-1">
					<%= f.label :name,"名字" %>
				</div>
				<div class="col-md-1">
					<%= f.text_field :name,:class=>"form-control" %>
				</div>
				<div class="col-md-1">
					<%= f.label :location,"位置" %>
				</div>
				<div class="col-md-7">
					<%= f.text_field :location,:class=>"form-control" %>
				</div>
				<div class="col-md-1">
					<%= f.label :minmoney,"最低金額" %>
				</div>
				<div class="col-md-1">
					<%= f.text_field :minmoney,:class=>"form-control" %>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1">
					<%= f.label :description,"描述" %>
				</div>
				<div class="col-md-11">
					<%= f.text_area :description,:class=>"form-control" %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<%= f.submit("送出") %>
				</div>
			</div>

		<% end %>
		</div>
		<div class="row">

		</div>
	</div>
<div class="row">
	<div class="col-md-12"><%= link_to "new",new_restaurant_path,:class=>"btn btn-default" %>
	</div>
</div>
<table class="table table-striped">
	<thead >
		<tr>
			<th class="col-md-2">名字</th>
			<th class="col-md-6">位置</th>
			<th class="col-md-4"></th>
		</tr>
	</thead><!--thead-->
	<tbody class="tbody">
		<% @restaurants.each do |f| %>
		<tr >
			<td class="col-md-2"><%=f.name %></td>
			<td class="col-md-6"><%=f.location%></td>
			<td class="col-md-4">
				<div class="btn-group">
						<%= link_to "show", restaurant_path(f),:class=>"btn btn-primary" %>
						<%#= link_to "edit", edit_restaurant_path(f),:class=>"btn btn-default" %>
						<%= link_to "edit", edit_restaurant_path(f),:class=>"btn btn-default" %>
						<%= link_to "delete", restaurant_path(f),:method=>:delete,:class=>"btn btn-danger" %>
				</div><!--btn-group-->
			</td>
		</tr>
	<% end %>
	</tbody><!--tbody-->
</table><!--table-->